/*!
 * Font Family: GFF Latin
 *
 * This font is based on the GFF typeface developed for Garena Free Fire,
 * created in collaboration with a professional type designer.
 *
 * All original rights, trademarks, and ownership remain with their
 * respective owners (e.g., Garena International). No claim of ownership
 * is made here.
 *
 * Redistribution or commercial use may require permission from the
 * original rights holder.
 */


@font-face {
    font-family: 'GFF Starexx';
    src: url('fonts/GFF-Latin-Thin.woff2') format('woff2'),
         url('fonts/GFF-Latin-Thin.woff') format('woff'),
         url('fonts/GFF-Latin-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GFF Starexx';
    src: url('fonts/GFF-Latin-Regular.woff2') format('woff2'),
         url('fonts/GFF-Latin-Regular.woff') format('woff'),
         url('fonts/GFF-Latin-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GFF Starexx';
    src: url('fonts/GFF-Latin-Medium.woff2') format('woff2'),
         url('fonts/GFF-Latin-Medium.woff') format('woff'),
         url('fonts/GFF-Latin-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GFF Starexx';
    src: url('fonts/GFF-Latin-Bold.woff2') format('woff2'),
         url('fonts/GFF-Latin-Bold.woff') format('woff'),
         url('fonts/GFF-Latin-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
